<div class="about" id="about" th:fragment="about">
    <iframe class="about__map"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d329395.29002690985!2d23.994261!3d49.834928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add86c34f4b3d%3A0xb527c3737588d37c!2sSmal-Stotskoho%20St%2C%202%2C%20L&#39;viv%2C%20L&#39;vivs&#39;ka%20oblast%2C%20Ukraine%2C%2079000!5e0!3m2!1sen!2sus!4v1588261292839!5m2!1sen!2sus"
            height="600" frameborder="0" style="border:0; position: relative;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    <div class="about__textblock">  
        <div class="about__title">Про нас</div>
        Центральний офіс
        м. Львів, вул.Смаль-Стоцького 1, офіс 206а
        79018, Україна
        <hr>
        Тел.моб.: (067) 671 13 40
        <br>
        Тел.моб.: (067) 738 67 51
        <hr>
        E-mail: info@leaduptraining.com
        <br>
        <div class="about__button"><a href="#" class="btn btn--big" data-modal="#modal__contact">Напишіть нам</a></div>
    </div>
</div>
</div>