<div class="experience" id="experience" th:fragment="experience">
    <h1 class="experience__title">Досвід</h1>
    <div class="experience__text">

        <p class="experience__parag">
            <img class="experience__checklist" src="images/checklist.png" width="400" height="400" alt="">
            Розробка та впровадження системи корпоративного навчання та політики
        </p>

        <p class="experience__parag">
            <img class="experience__checklist" src="images/checklist.png" alt="">
            Вдосконалення навичок лідерства та менеджменту, комунікації на базі англійської мови
        </p>

        <p class="experience__parag">
            <img class="experience__checklist" src="images/checklist.png" alt="">
            Створення карти очікуваних знань та вмінь відповідно до бізнес-цілей компанії
        </p>

        <p class="experience__parag">
            <img class="experience__checklist" src="images/checklist.png" alt="">
            Розробка та впровадження процесів, що гарантують очікувально-повторювальний результат
        </p>

        <p class="experience__parag">
            <img class="experience__checklist" src="images/checklist.png" alt="">
            Реалізація ряду комплексних та короткотермінових програм, тренінгів, курсів
        </p>

        <p class="experience__parag">
            <img class="experience__checklist" src="images/checklist.png" alt="">
            Впровадження гнучкої системи контролю ефективності та результатів тренінгів
        </p>

        <p class="experience__parag">
            <img class="experience__checklist" src="images/checklist.png" alt="">
            Створення середовища, що мотивує до розвитку та росту своїх працівників
        </p>

    </div>

</div>