<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="logo">
                    <a href="#">
                        <img src="images/logo.png" height="40px" width="200px">
                    </a>
                </div>
                <nav class="nav">
                    <a href="#" class="nav__link" data-scroll=".big_intro">Головна</a>
                    <a href="#" class="nav__link" data-scroll="#lead">Сильні сторони</a>
                    <a href="#" class="nav__link" data-scroll="#projects">Навчання</a>
                    <a href="#" class="nav__link" data-scroll="#experience">Досвід</a>
                    <a href="#" class="nav__link" data-scroll="#training">Тренінги</a>
                    <a href="#" class="nav__link" data-scroll="#about">Про нас</a>
                    <a href="#" class="btn btn--small" data-modal="#modal__contact">Написати</a>
                </nav>

                <div class="burger">
                    <img class="burger__icon" src="images/open-menu.png">
                </div>
            </div>
        </div>
    </header>
</div>