<div class="big_intro" th:fragment="intro">
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner"></div>
            <h1 class="intro__title">LEAD UP</h1>
            <div class="intro__subtitle">Lead-Up – консультаційно-тренінговий центр з розвитку
                та вдосконалення лідерських та комунікативних навичок на базі англійської мови.
            </div>
            <div class="mouse__place">
                <div class="mouse"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="features">

            <div class="feature">
                <img class="feature__photo" src="images/features/feature-1.png" height="75px" width="150px">
                <div class="feature__title">Speak–Up</div>
                <div class="feature__subtitle"> Тренінговий центр, що забезпечує повний цикл комунікативних навичок
                    українською та англійською мовами,
                    як доповнювальних до основної освіти, необхідних для роботи в сучасних компаніях
                </div>
            </div>

            <div class="feature">
                <img class="feature__photo" src="images/features/feature-4.png" height="75px" width="150px">
                <div class="feature__title">Grow–Up</div>
                <div class="feature__subtitle"> 10-річний успішний досвід організації тренінг-центрів у сфері IT:
                    SoftServe University,
                    Microsoft IT Academy, SUN Academic Initiative, Person VUE, Thompson Prometric сертифікаційних
                    центрів у Львові, співпраця з аутсорсинговими ІТкомпаніями
                </div>
            </div>

            <div class="feature">
                <img class="feature__photo" src="images/features/feature-2.png" height="75px" width="150px">
                <div class="feature__title">Move–Up</div>
                <div class="feature__subtitle"> Успішний проектний менеджмент, технологічне лідерство, бізнес-аналіз,
                    практика тестування, організаційно-процесне бачення стратегії розвитку компанії, коучінг, менторінг,
                    плани та досягнення особистих цілей
                </div>
            </div>

        </div>
    </div>
</div>
