<div class="container" id="projects" th:fragment="projects">
    <h1 class="projects__maintitle">Про навчання</h1>

    <div class="slick__container">

        <div class="projects">

            <div class="project">
                <img class="project__photo" src="images/testing.jpg" data-modal="#study__test">
                <div class="project__text">
                    <div class="project__title">Тестування</div>
                    <div class="project__description">
                        Якщо ви не знаєте свій рівень англійської мови чи хочете перевірити,
                        запишіться на безкоштовне тестування.
                    </div>
                </div>
                <div class="btn__container">
                    <button class="btn project__btn" href="#" data-modal="#study__test">Детальніше</button>
                </div>
            </div>

            <div class="project">
                <img class="project__photo" src="images/course.jpg" data-modal="#study__kurs">
                <div class="project__text">
                    <div class="project__title">Курс</div>
                    <div class="project__description">
                        Тривалість курсу, після якого ви відчуваєте суттєве покращення у швидкості говоріння
                        становить 2 семестри.
                    </div>
                </div>
                <div class="btn__container">
                    <a class="btn" href="#" data-modal="#study__kurs">Детальніше</a>
                </div>
            </div>

            <div class="project">
                <img class="project__photo" src="images/individual.jpg" data-modal="#study__individual">
                <div class="project__text">
                    <div class="project__title">Індивідуальний підхід</div>
                    <div class="project__description">Під час курсу ведеться відслідковування прогресу кожного учасника з
                        подальшими індивідуальними рекомендаціями.
                    </div>
                </div>
                <div class="btn__container">
                    <a class="btn" href="#" data-modal="#study__individual">Детальніше </a>
                </div>
            </div>

        </div>
        <img src="images/back.svg" class="project__prev" height="20px" width="20px"></img>
        <img src="images/next.svg" class="project__next" height="20px" width="20px"></img>
    </div>
