<div class="lead__pros" id="lead" th:fragment="pros">
    <img class="pros__photo" src="images/pros.jpg" data-aos="fade-right">
    <div class="pros__text" data-aos="fade-bottom">
        <div class="pros__title">Сильні сторони</div>
        <div class="pros__information">

            <div class="pros__col">
                <img src="images/professionals.png" height="50px" width="230px">
                <p class="information__text">Професійні тренери з 10-річним досвідом роботи з корпоративними
                    клієнтами</p>
            </div>

            <div class="pros__col">
                <img src="images/development.png" height="50px" width="220px">
                <p class="information__text">Розробка унікальних тренінгових рішень, що довели свою ефективність на
                    реальному бізнесі</p>
            </div>

            <div class="pros__col">
                <img src="images/know-how.png" height="50px" width="200px" >
                <p class="information__text">Know-how моделі здобуття лідерських та комунікативних навичок, націлених на
                    отримання результату </p>
            </div>

            <div class="pros__col">
                <img src="images/technology.png" height="50px" width="240px">
                <p class="information__text">Використання сучасних технологій: email, Skype, системи conference call,
                    відеоконференція</p>
            </div>

        </div>
    </div>
</div>