<div class="container" id="training" th:fragment="training">
    <div class="training">
        <div class="training__text">
            <h1 class="training__title">Рівні тренінгів</h1>
            <p class="training__intro"> Кожен тренінг має свою структуру і рівні.
                Структура слугує основою для складання плану і мети.
                За допомогою систематичних рівнів тренінгу вдається краще розробити процес навчання для кожного його
                учасника.
                3-рівнева система тренінгів “Lead-Up” сформована на основі бізнес-потреб сучасних компаній,
                опираючись на Карту компетенцій персоналу.
            </p>

            <div class="training__cols">

                <div class="training__col training__col__first" data-modal="#training__first">
                    <h3 class="training__col__title">1-рівень</h3>
                    <h5 class="training__subtitle">Основи комунікації</h5>
                    <p class="training__level"> Ряд курсів та тренінгів,
                        спрямованих на розвиток основних комунікативних навичок згідно з потребами компанії.
                    </p>
                </div>

                <div class="training__col training__col__second" data-modal="#training__second">
                    <h3 class="training__col__title">2-й рівень</h3>
                    <h5 class="training__subtitle">Професійна комунікація</h5>
                    <p class="training__level"> Набір тренінгів для розвитку та вдосконалення необхідних
                        професійно-комунікативних навичок.
                    </p>
                </div>

                <div class="training__col training__col__third" data-modal="#training__third">
                    <h3 class="training__col__title">3-й рівень</h3>
                    <h5 class="training__subtitle">Лідерство та менеджмент </h5>
                    <p class="training__level"> Ефективне використання базових та професійних комунікативних навичок в
                        управлінні.
                    </p>
                </div>

            </div>
            <div class="training__arrows">
                <img src="images/back.svg" class="training__prev" height="20px" width="20px"></img>
                <img src="images/next.svg" class="training__next" height="20px" width="20px"></img>
            </div>
        </div>
        <img class="training__photo" src="images/training.png">
    </div>
</div>